<template>
  <div v-if="state.isLoading">
    <div class="max-w-2xl px-8 py-4 mx-auto my-6 bg-white rounded-lg  dark:bg-gray-800">
      <div class=" flex justify-center items-center">
        <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-32 w-32"></div>
      </div>
    </div>
  </div>
  <div v-else>
    <div v-for="item in news" :key="item.id">
      <div class="max-w-2xl px-8 py-4 mx-auto my-6 bg-white rounded-lg shadow-md hover:shadow-xl dark:bg-gray-800">
        <div class="flex items-center justify-between">
          <span class="text-sm font-light text-gray-600 dark:text-gray-400">{{new Date(item.isoDate)}}</span>
          <a
            class="px-3 py-1 text-sm font-bold text-gray-100 transition-colors duration-200 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500">Teknologi</a>
        </div>
        <div class="mt-2">
          <a 
            :href="item.link"
            target="_blank"
            class="text-2xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline">{{item.title}}</a>
          <p class="mt-2 text-gray-600 dark:text-gray-300">{{item.contentSnippet}}</p>
        </div>

        <div class="flex items-center justify-between mt-4">
          <a 
            :href="item.link" 
            target="_blank" 
            class="text-blue-600 dark:text-blue-400 hover:underline">
            Baca Selengkapnya
          </a>
          <div class="flex items-center">
            <img class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block" :src="item.image.large" alt="avatar">
            <a class="font-bold text-gray-700 cursor-pointer dark:text-gray-200">CNN NEWS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import {
    ref,
    onMounted,
    reactive
  } from 'vue'
  export default {
    name: 'CardNews',
    setup() {
      const news = ref([]);
      const state = reactive({
        isLoading: false
      })

      state.isLoading = true;
      const getListNewsItem = async () => {
        let response = await axios.get('https://berita-indo-api.vercel.app/v1/cnn-news/teknologi')
        // console.log(response.data.data)
        news.value = response.data.data.slice(1, 10)
        state.isLoading = false;
        // response.data = news.value
      }
      onMounted(() => {
        getListNewsItem()
      })

      return {
        news,
        state
      }
    }
  }
</script>

<style scoped>
 .loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }
  
  @-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>