<template>
  <nav class="bg-white  shadow-md dark:bg-gray-800">
    <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
      <h3 href="#" class="text-gray-800 dark:text-gray-200 border-b-2 text-2xl font-semibold border-blue-500 mx-1.5 sm:mx-6">CNN Portal News</h3>
    </div>
  </nav>
</template>

<style scoped>

</style>

<script>
  export default {
    name :'Header', 
    setup() {

    },
  }
</script>